.add-on-con {
  margin-top: 15px;
}

.add-ons {
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 450px;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 5px;
  border-width: 1px;
  padding: 20px;
  justify-content: space-between;
}
.addon-content {
  display: flex;
  flex-direction: row;
  width: 270px;
  align-items: center;
}
.addon-text {
  margin-left: 30px;
}
.button-con {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 460px;
  margin-top: 80px;
}

/* mpobile screen */
@media screen and (max-width: 375px) {
  .add-on-con {
    margin-top: 10px;
  }
  .add-ons {
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 310px;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 5px;
    border-width: 1px;
    padding: 20px;
    justify-content: space-between;
  }

  .button-con {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 330px;
    margin-top: 80px;
  }
}
