.title {
  font-family: Ubuntu-bold;
  font-weight: 700;
  font-size: 32px;
}

.info-text {
  color: hsl(231, 11%, 63%);
  margin-bottom: 40px;
}

input {
  margin-top: 10px;
  border-width: 1px;
  border-color: hsl(229, 24%, 87%);
  border-radius: 5px;
  height: 50px;
  width: 420px;
  padding-left: 10px;
}

.submit-con {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-left: 270px;
  margin-top: 70px;
}

#button {
  height: 50px;
  background-color: hsl(243, 100%, 62%);
  color: white;
  width: 150px;
  border-radius: 10px;
}

/* mobile screen */
@media only screen and (max-width: 375px) {
  .info-text {
    margin-bottom: 20px;
  }
  input {
    margin-top: 10px;
    border-width: 1px;
    border-color: hsl(229, 24%, 87%);
    border-radius: 5px;
    height: 40px;
    width: 278px;
    padding-left: 10px;
  }

  .submit-con {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-left: 130px;
    margin-top: 70px;
  }

  #button {
    height: 40px;
    background-color: hsl(243, 100%, 62%);
    color: white;
    width: 150px;
    border-radius: 10px;
  }
}
